<%= form_with model: [@post, @comment], locale: true do | form | %>
  <%= render 'shared/errors', resource: @comment %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, id: :comment_body %>
  </p>

  <p> <%= form.submit %> </p>
<% end %>
