<h1>Posts</h1>

<%= render 'shared/errors', resource: @post %>

<table class="table">
  <tr>
    <th> <%=link_to 'Asc', posts_path(sort_by: :asc) %> </th>
    <th> <%=link_to 'Old', posts_path(sort_by: :old) %> </th>
    <th> <%=link_to 'Popular', posts_path(sort_by: :popular) %> </th>
  </tr>
    <tr>
      <th>
        Posts
      </th>
      <th>Comments</th>
    </tr>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= content_tag :span, post.title, class: 'post-title', data: { post_id: post.id } %>
      </td>
      <td><%= post.comments.count %></td>

      <td><%=link_to 'Show', post_comments_path(post) %></td>
  <% end %>
    </tr>
</table>
